#canvas {background-color:transparent;}
.pdf-annotation img {max-width: 28px;}
.pdf-annotation #loading {background-color: #fff; color: #3e3e3e; font-weight: bold;}
.pdf-annotation #controllers {font-size: 14px;
    font-family: verdana;}
.pdf-annotation #controllers {
  width: 100%;
  font-size: 0.8em;
  color: #333;
  position: relative;
  top: 0px;
  background-color: #fff;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.pdf-annotation #paint {
  border: 1px solid #000;
  background: #fff;
}
.pdf-annotation .controller {
  display: inline-block;
  background: #eee;
  padding: 12px 16px;
  font-size: 14px;
  font-family: verdana;
  text-transform: capitalize;
  border-radius: 5px;
  margin-right: 5px;
  vertical-align: middle;
}
#canvas-cont{
    width: 1300px;
}
.canvas-container{
  height: 1600px;
  overflow-y: auto;
}
#canvas{
  border: 1px solid #000;
}
.controller:disabled {
  background: red !important;
}
#controllers .pagenumber {
  width: 45px;
  line-height: 35px;
}

#controllers .btn:hover, #controllers .btn.active {
  background-color: #0A0947;
}
#controllers .btn {
  box-shadow: 0px 0px #0A0947;
  cursor: pointer;
  background-color:#0E86E2;
  color: WHITE;
}
#controllers .title {
  border: 1px solid #cfcfcf;
  margin: 3px;
  padding: 10px;
}
#editor_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 80px;
  background-color: #3c3c3c;
  float: right;
}
#contenteditor {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#controllers .input_file {
    display: inline;
    border: 1px solid #3c3c3c;
    padding: 10px;
    border-radius: 3px;
    height: 40px;
}
#frm_canvas_tool {
    display: inline;
}

#controllers select {font-size: 18px;}

#controllers span.btn-icn, #controllers span.btn-icn:hover {
    padding: 5px 10px;
    background-repeat: no-repeat;
    width: 42px;
    height: 40px;
    background-image: url(images/sprite.png) !important;
    background-size: 90px;
    margin: 3px;
}
#controllers #pencil {background-position: -0px -385px; }
#controllers #pencil:hover, #controllers #pencil.active {background-position: -0px -347px; }

#controllers #square {background-position: -0px -616px; }
#controllers #square:hover, #controllers #square.active {background-position: -0px -578px; }

#controllers #circle {background-position: -0px -155px; }
#controllers #circle:hover, #controllers #circle.active {background-position: -0px -117px; }

#controllers #ellipse {background-position: -0px -231px; }
#controllers #ellipse:hover, #controllers #ellipse.active {background-position: -0px -193px; }

#controllers #text {background-position: -0px -693px; }
#controllers #text:hover, #controllers #text.active {background-position: -0px -655px; }

#controllers #arrow {background-position: -0px -77px;); }
#controllers #arrow:hover, #controllers #arrow.active {background-position: -0px -424px; }

#controllers #line {background-position: -0px -308px; }
#controllers #line:hover, #controllers #line.active {background-position: -0px -270px; }

#controllers #undo {background-position: -0px -770px; background-color: #0A0947 !important;}
#controllers #undo:hover, #controllers #undo.active {background-position: -0px -732px; }

#controllers #redo {background-position: -0px -462px; background-color: #0A0947 !important;}
#controllers #redo:hover, #controllers #redo.active {background-position: -0px -0px; }

#controllers #save {background-position: -0px -539px; }
#controllers #save:hover, #controllers #save.active {background-position: -0px -501px; }

#controllers .cur_disable{cursor: not-allowed !important;}
#controllers #undo.cur_disable{background-position: -0px -770px; background-color: #0E86E2 !important;}
#controllers #redo.cur_disable{background-position: -0px -462px; background-color: #0E86E2 !important;}


.close {
    background-image: url(images/sprite.png);
    background-position: -0px -1251px;
    background-size: 50px;
    width: 50px;
    height: 50px;
    float: right;
    top: 0px;
    z-index: 999999;
    position: relative;
    background-size: 50px;
    opacity: 1;
}